.posts
    .post
        padding: 0 0 $vertical-spacing/2 0
        margin: 0 0 $vertical-spacing/2 0
        border:
            width: 0 0 3px
            style: solid
            color: $primary-off
        &:first-child
            padding-top: 0
        &:last-child
            padding-bottom: 0
            border-bottom: none
        &__heading
            margin: 0
            text-transform: lowercase

.single-post
    .post-title
        margin-bottom: 0
    .meta
        margin-top: 0
