.posts
    .post
        border-bottom: 3px solid $primary-off
        //padding: 1rem 0
        //margin: 1rem 0
        &:last-child
            border-bottom: none
        &-date,
        &-name
            font:
                size: 1rem
                family: monospace
        &-date
            font-weight: 200
        &-name
            margin: 0
            display: inline-block

.single-post
    .post-title
        margin-bottom: 0
    .meta
        margin-top: 0
