body
    font:
        family: 'Source Code Pro', monospace
        size: 16px
        weight: normal
    line-height: 1.618
    color: $primary
    color: lighten(#41535b,10%)

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
    margin: 0 0 1em 0
    font:
        size: 1rem
        weight: normal

p,
li
    a
        font-weight: 600

a
    text-decoration: none
    color: inherit

ul,
ol
    margin: 1rem 0
    list-style:
        type: none
        position: inside
    li:before
        content: '* '
