<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}{{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/styles/main.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <header class="page-header">
            <a href="/">
                <!-- <img src="/public/img/me.jpg" alt="Just me." class="me"> -->
                <h1>Jake Cleary</h1>
                <ul class="networks">
                    <li><a href="https://github.com/clear-y">Github</a></li>
                    <li><a href="https://twitter.com/jakecleary">Twitter</a></li>
                    <li><a href="mailto:shout@jakecleary.net">Email</a></li>
                </ul>
            </a>
        </header>
