{% include header.html %}
<p>I'm Jake Cleary, a web developer from the small south coast town of Worthing, UK. This is just a place where I'll share my <a href="/blog/">learning process and work</a>. Check out my stuff on <a href="https://github.com/clear-y" target="_blank">github</a>, or if you want to chat, just give me a <a href="mailto:shout@jakecleary.net?subject=Hi">shout</a>.</p>
<section class="posts">
    <h2 class="heading">Posts</h2>
    {% for post in site.posts %}
        <article class="post">
            <span class="post-date">{{ post.date | date: "%Y.%m.%d" }} - </span>
            <h3 class="post-name"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </article>
    {% endfor %}
</section>
{% include footer.html %}
