{% include header.html %}

    <main class="about">
        <h1 class="about-heading">hello &amp; welcome</h1>
        <p>I'm Jake Cleary, a web developer from the small south coast town of Worthing, UK. This is just a place where I'll share my <a href="/blog/">learning process and work</a>. Check out my stuff on <a href="https://github.com/clear-y" target="_blank">github</a>, or if you want to chat, just give me a <a href="mailto:shout@jakecleary.net?subject=Hi">shout</a>.</p>
    </main>

{% include footer.html %}